.cityCards {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.8);

}

.savedCityLocation {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.savedCities {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}